{% extends 'base.html.twig' %}

{% block title %}Hello RegistroController!{% endblock %}

{% block body %}
{{form(formulario)}}

{% for message in app.flashes('success')%}
<div lass="alert alert-success">
{{message}}
</div>
{% endfor %}


{% endblock %}
